backend/warehouse/secondaryWarehouse.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions targetNamespace="acmebikes.test.com.wsdl" xmlns:xsd1="acmebikes.test.com.xsd" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:tns="acmebikes.test.com.wsdl" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/">
  <wsdl:types>
    <xs:schema targetNamespace="acmebikes.test.com.xsd" xmlns:sch="acmebikes.test.com.xsd" xmlns:xs="http://www.w3.org/2001/XMLSchema"><xs:complexType name="Bike"><xs:sequence><xs:element maxOccurs="1" minOccurs="1" name="qty" type="xs:int"/><xs:element maxOccurs="1" minOccurs="1" name="ordered_qty" type="xs:int"/><xs:element maxOccurs="1" minOccurs="1" name="bike_id" type="xs:int"/></xs:sequence></xs:complexType><xs:element name="checkBikes"><xs:complexType><xs:sequence><xs:element maxOccurs="unbounded" minOccurs="0" name="bikes" type="sch:Bike"/></xs:sequence></xs:complexType></xs:element><xs:element name="checkBikesResponse"><xs:complexType><xs:sequence><xs:element maxOccurs="unbounded" minOccurs="0" name="bikes" type="sch:Bike"/></xs:sequence></xs:complexType></xs:element><xs:complexType name="Component"><xs:sequence><xs:element maxOccurs="1" minOccurs="1" name="component_id" type="xs:int"/><xs:element maxOccurs="1" minOccurs="1" name="qty" type="xs:int"/><xs:element maxOccurs="1" minOccurs="1" name="assembleable" type="xs:boolean"/><xs:element maxOccurs="1" minOccurs="1" name="ordered_qty" type="xs:int"/></xs:sequence></xs:complexType><xs:element name="checkComponents"><xs:complexType><xs:sequence><xs:element maxOccurs="unbounded" minOccurs="0" name="components" type="sch:Component"/><xs:element maxOccurs="1" minOccurs="1" name="resale_instance_id" type="xs:string"/></xs:sequence></xs:complexType></xs:element><xs:element name="checkComponentsResponse"><xs:complexType><xs:sequence><xs:element maxOccurs="unbounded" minOccurs="0" name="components" type="sch:Component"/></xs:sequence></xs:complexType></xs:element></xs:schema>
  </wsdl:types>
  <wsdl:message name="ComponentRequest">
    <wsdl:part name="body" element="xsd1:checkComponents">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="BikeResponse">
    <wsdl:part name="body" element="xsd1:checkBikesResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="BikeRequest">
    <wsdl:part name="body" element="xsd1:checkBikes">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="ComponentResponse">
    <wsdl:part name="body" element="xsd1:checkComponentsResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:portType name="SecondaryWarehouseService">
    <wsdl:operation name="checkBikes">
      <wsdl:input message="tns:BikeRequest">
    </wsdl:input>
      <wsdl:output message="tns:BikeResponse">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="checkComponents">
      <wsdl:input message="tns:ComponentRequest">
    </wsdl:input>
      <wsdl:output message="tns:ComponentResponse">
    </wsdl:output>
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="SecondaryWarehouseServiceSOAPBinding" type="tns:SecondaryWarehouseService">
    <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <wsdl:operation name="checkBikes">
      <soap:operation soapAction="checkBikes" style="document"/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="checkComponents">
      <soap:operation soapAction="checkComponents" style="document"/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="SecondaryWarehouseServiceService">
    <wsdl:port name="SecondaryWarehouseServiceServicePort" binding="tns:SecondaryWarehouseServiceSOAPBinding">
      <soap:address location="http://localhost:8086"/>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>
