backend/warehouse/warehouse.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions targetNamespace="acmebikes.test.com.wsdl" xmlns:xsd1="acmebikes.test.com.xsd" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:tns="acmebikes.test.com.wsdl" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/">
  <wsdl:types>
    <xs:schema targetNamespace="acmebikes.test.com.xsd" xmlns:sch="acmebikes.test.com.xsd" xmlns:xs="http://www.w3.org/2001/XMLSchema"><xs:complexType name="Component"><xs:sequence><xs:element maxOccurs="1" minOccurs="1" name="component_id" type="xs:int"/><xs:element maxOccurs="1" minOccurs="1" name="qty" type="xs:int"/><xs:element maxOccurs="1" minOccurs="1" name="assembleable" type="xs:boolean"/></xs:sequence></xs:complexType><xs:element name="checkComponents"><xs:complexType><xs:sequence><xs:element maxOccurs="unbounded" minOccurs="0" name="components" type="sch:Component"/><xs:element maxOccurs="1" minOccurs="1" name="resale_instance_id" type="xs:string"/></xs:sequence></xs:complexType></xs:element><xs:element name="checkComponentsResponse"><xs:complexType><xs:sequence><xs:element maxOccurs="unbounded" minOccurs="0" name="components" type="sch:Component"/></xs:sequence></xs:complexType></xs:element><xs:element name="getStatus"><xs:complexType><xs:sequence><xs:element maxOccurs="1" minOccurs="1" name="test" type="xs:string"/></xs:sequence></xs:complexType></xs:element><xs:element name="getStatusResponse"><xs:complexType><xs:sequence><xs:element maxOccurs="1" minOccurs="1" name="test" type="xs:string"/></xs:sequence></xs:complexType></xs:element></xs:schema>
  </wsdl:types>
  <wsdl:message name="ComponentRequest">
    <wsdl:part name="body" element="xsd1:checkComponents">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="ComponentResponse">
    <wsdl:part name="body" element="xsd1:checkComponentsResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="Test">
    <wsdl:part name="body" element="xsd1:getStatusResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:portType name="MainWarehouseService">
    <wsdl:operation name="checkComponents">
      <wsdl:input message="tns:ComponentRequest">
    </wsdl:input>
      <wsdl:output message="tns:ComponentResponse">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getStatus">
      <wsdl:input message="tns:Test">
    </wsdl:input>
      <wsdl:output message="tns:Test">
    </wsdl:output>
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="MainWarehouseServiceSOAPBinding" type="tns:MainWarehouseService">
    <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <wsdl:operation name="checkComponents">
      <soap:operation soapAction="checkComponents" style="document"/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getStatus">
      <soap:operation soapAction="getStatus" style="document"/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="MainWarehouseServiceService">
    <wsdl:port name="MainWarehouseServiceServicePort" binding="tns:MainWarehouseServiceSOAPBinding">
      <soap:address location="http://localhost:8085"/>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>
